<div class="container">
  <div class="heading-container">
    <span class="page-heading">Employee List</span>
  </div>

  <div class="table-container">
    <div class="table-header">
      <div class="header-item">#</div>
      <div class="header-item">Name</div>
      <div class="header-item">Job Title</div>
      <div class="header-item">Age</div>
      <div class="header-item">Start Date</div>
      <div class="header-item">End Date</div>
      <div class="header-item">
        <span class="action-container">
          Action
          <div
            class="buttonbgColor"
            matTooltip="Add Employee"
            (click)="openAddDialog('add')"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="customIcon"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z"
              />
            </svg>
          </div>
        </span>
      </div>
    </div>
    <div class="filter-row" [formGroup]="filterEmployeForm">
      <div class="filter-item"></div>
      <div class="filter-item">
        <input matInput formControlName="name" placeholder="Search By Name" />
      </div>
      <div class="filter-item">
        <mat-select formControlName="jobTitle" placeholder="Select Job Title">
          <mat-option *ngFor="let title of jobTitles" [value]="title">
            {{ title }}
          </mat-option>
        </mat-select>
      </div>

      <div class="filter-item">
        <input matInput formControlName="age" placeholder="Age" />
      </div>
      <div class="filter-item">
        <input
          type="date"
          matInput
          formControlName="startDate"
          [attr.placeholder]="placeholderDate"
        />
      </div>
      <div class="filter-item">
        <input
          type="date"
          matInput
          formControlName="endDate"
          placeholder="dd-mm-yyyy"
        />
      </div>
      <div class="filter-item">
        <span class="button-container">
          <div
            matTooltip="Filter employee"
            class="buttonbgColor"
            (click)="filterEmployees()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="customIcon"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 3c2.755 0 5.455.232 8.083.678.533.09.917.556.917 1.096v1.044a2.25 2.25 0 0 1-.659 1.591l-5.432 5.432a2.25 2.25 0 0 0-.659 1.591v2.927a2.25 2.25 0 0 1-1.244 2.013L9.75 21v-6.568a2.25 2.25 0 0 0-.659-1.591L3.659 7.409A2.25 2.25 0 0 1 3 5.818V4.774c0-.54.384-1.006.917-1.096A48.32 48.32 0 0 1 12 3Z"
              />
            </svg>
          </div>
          <div
            matTooltip="Clear Filter"
            class="buttonbgColor"
            (click)="clearFilters()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="customIcon"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18 18 6M6 6l12 12"
              />
            </svg>
          </div>
        </span>
      </div>
    </div>
    <div
      class="table-row"
      *ngFor="let employee of filteredEmployees; let i = index"
    >
      <div class="row-item">{{ i + 1 }}</div>
      <div class="row-item">{{ employee.name }}</div>
      <div class="row-item">{{ employee.jobTitle }}</div>
      <div class="row-item">{{ employee.age }}</div>
      <div class="row-item">{{ employee.startDate | date : "yyyy-MM-dd" }}</div>
      <div class="row-item">
        <ng-container
          *ngIf="
            employee.endDate !== 'Currently Working';
            else currentlyWorking
          "
        >
          {{ employee.endDate | date : "yyyy-MM-dd" }}
        </ng-container>
        <ng-template #currentlyWorking>
          <span class="currently-working"> Currently Working </span>
        </ng-template>
      </div>
      <div class="row-item">
        <span class="button-container">
          <div
            matTooltip="View employee"
            class="buttonbgColor"
            (click)="openAddDialog('view', employee)"
          >
            <svg
              class="customIcon"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
              />
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
              />
            </svg>
          </div>
          <div
            matTooltip="Delete employee"
            class="buttonbgColor"
            (click)="deleteEmployee(employee)"
          >
            <svg
              class="customIcon"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
              />
            </svg>
          </div>
        </span>
      </div>
    </div>
  </div>
</div>
